body {
  background-color: #2563eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 450px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  flex-shrink: 0;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1.5px solid #2563eb;
  border-radius: 4px;
  outline: none;
}

#add-btn {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.list-wrapper {
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 5px;
}

.list-wrapper::-webkit-scrollbar {
  width: 6px;
}

.list-wrapper::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #d1fae5;
  border: 1px solid #a7f3d0;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  color: #065f46;
}

.task-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

li.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.status-check {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.delete-btn {
  background-color: #1e3a8a;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
}
